.header-top{ padding: 5px 0; }
.header-list {
    list-style-type: none; 
    display: flex;
    color: #666666; 
    margin: 0;
    padding: 0;
    li {
        margin-right: 15px;
        a {color: #666666 !important;}
    }
}

.styled-icons {

    margin:0;
    display: flex;
    list-style-type: none;
    li {
        background-color: #00A4EF; 
        border-radius: 0 !important;
        padding: 0px 2px 0px 7px; 
        margin-right: 10px;
        a {
        font-size: 13px;
        height: 30px;
        line-height: 30px;
        margin: 2px 7px 2px 0;
        width: 30px;
        border-radius: 0;
        color: white !important;
        }
    }
}

